* {
  margin: 0;
  padding: 0;
}
body {
  /*font of the site*/
  font-family: "Poppins", sans-serif;

  /*basic syling*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*style for the header*/
.logo {
  width: 133px;
  height: auto;
}
header {
  background-color: black;
  width: 100%;
  /*this is to make the nav tag centered*/
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  background-color: black;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 1140px;
  height: 80px;
}

ul {
  display: flex;
  color: white;
}

/*making the nav bar animated*/
.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    display: none;
    transform: translateX(60px);
  }
  100% {
    display: inline;
    transform: translateX(-0px);
  }
}

li {
  list-style-type: none;
}
a {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 20px;
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(46, 217, 91);
}
.bar {
  font-weight: bold;
}
/*styling for the nav bar*/
main {
  /*adding a background image*/
  background-image: url(/images/bursts.svg);
  background-size: 175%;
  background-repeat: no-repeat;
  /*position of the image*/
  background-position: 46% 4%;
  /*make the text centered*/
  display: flex;
  align-items: center;
  justify-content: center;

  /*sizing of the screen*/
  width: 1351px;
  min-height: 846px;

  /*background color and text color*/
  background-color: #2941ab;
  color: white;
}
/*code for the text*/
.hero-section{
  text-align: center;
  display: flex;
  width: 50%;
  flex-direction: column;
  color: #1ed760;
}
h1{
  text-indent: -3em;
  font-weight: bolder;

  font-size: 136px;
  line-height: 160px;
  padding-bottom: 40px;
  transform: translate(60px);
}
.texts{

}