*{
    margin: 0;
    padding: 0;
}

body{
    /*font of the site*/
    font-family: 'Poppins', sans-serif;

    /*basic syling*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*style for the header*/
.logo{
    width: 133px;
    height: auto;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: black;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 85vw;
    height: 80px;
}
ul{
    display: flex;
    color: white;
}
li{
    list-style-type: none;
}
a{
    font-weight: bold;
    font-size: 1.1rem;
    padding: 20px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(46, 217, 91);
}
.bar{
    font-weight: bold;
}